<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="../static/index.css" rel="stylesheet" type="text/css"/>
    <title>index</title>
    <script>
        function user_upload() {
            let user_name = $('#user_name').val()
            let user_img = $('#user_img')[0].files[0]
            let user_img_sv = user_img
            let form_data = new FormData()

            form_data.append("user_give", user_name)
            form_data.append("img_give", user_img)
            form_data.append("img_give_sv", user_img_sv)

            $.ajax({
                type: "POST",
                url: "/user_upload",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response["result"])
                    window.location.href='/result'
                }
            });
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                let reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }



    </script>
</head>
<body>
<div id="wrap">
    <div id="container">
        <div id="list">
            <!-- <p>제목</p>
            <p>Direction</p>
            <p>미리보기</p> -->
        </div>
        <div id="main">
            <div id="main-wrapper1">
                <!--           <img src="../static/img/book.png"/>&ndash;&gt;-->
                <!--        <input type="file" id="user_img">-->
                <input type="file" id="user_img" onchange="readURL(this);">
                <div id="img-wrapper">
                    <img id="blah" src="data:image/png;base64, {{ img }}">
                </div>
            </div>
            <div id="main-wrapper2">
                <div>
                    <input type="text" id="user_name" placeholder="user name">
                </div>
                <button id="upload" onclick="user_upload()">업로드</button>
            </div>
        </div>
    </div>
</div>

>
</div>
</body>
</html>